/*
CSS app styles
*/

/* https://css-tricks.com/box-sizing/ */
*, *:before, *:after {
  box-sizing: border-box;
}

ul {
    list-style: outside none none;
}

/*[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
    margin-bottom: 0.5rem;
}*/
    
p.help-text {
    margin-top: 0.5rem;
}


/* Error & Success Styles */
label.error, .error-box.error {
    color: #ec5840;
/*    margin-top: -0.5rem;*/    
}

form small {
    position: relative;
    top: -0.5rem;
}

input.error:not(:focus) {
    background-color: rgba(236, 88, 64, 0.1);
    border-color: #ec5840;
}

/*** Header ***/
header .row {
    width: 100%;
    max-width: 100%;
}
header .columns {
    padding: 0;
}

#widemenu {
    background-color: #333;
}

#widemenu.top-bar a {
    color: #fff;
}

#widemenu .top-bar-left ul, #widemenu .top-bar-right ul {
    background-color: #333;
}

#widemenu #site-title {
    color: #fff;
}

#share {
    margin-right: 0.7em;
}

#share .jssocials-share {
    margin-top: 0;
    margin-bottom: 0;
}

#share .jssocials-share-link {
    padding: 0.3em 0.5em;
    font-size: 0.88em;
}

/* js-socials additional styling for added shares */
#share .jssocials-share-twitter-tweet .jssocials-share-link {
    background: #00aced none repeat scroll 0 0;
    //font-size: 2.0rem;
}

/* give the G+ and +1 a little more room between each other */
#share .jssocials-share-googleplus .jssocials-share-link .jssocials-share-label {
    margin-left: 0.2em;
}

#share .jssocials-share-facebook-like .jssocials-share-link {
    background: #3b5998 none repeat scroll 0 0;
}

/*#share a i.jssocials-share-logo, #share a .jssocials-share-label {    
    font-size: 0.75em;
}*/

/*** Footer ***/

footer {
    color: #ccc;
    background-color: #333;
    padding: 2em;
    margin-top: 2rem;
}

footer a {
    color: #ccc; 
}

footer hr.footer-divider {
    color: #999999;
    border-color: #999999;
}

footer #social i {
    font-size: 1.5rem;
}

footer #madewith {
    font-size: 0.75rem;
    color: #999999;
}
