/*
CSS app styles
*/

header .columns {
    padding: 0;
}

#example-menu {
    background-color: #333;
}

#example-menu.top-bar a {
    color: #fff;
}

#example-menu .top-bar-left ul, #example-menu .top-bar-right ul {
    background-color: #333;
}

#example-menu #site-title {
    color: #fff;
}


/* Error & Success Styles */
label.error, .error-box.error {
    color: #ec5840;
}

input.error:not(:focus) {
    background-color: rgba(236, 88, 64, 0.1);
    border-color: #ec5840;
}

